div.header{
	height: 100px;
	border:1px solid blue;
	background-color: #1245AB;
	width: 100%;
}
.logout_box {
	text-align: right;
	padding: 15px;
}
.logout_box .logout {
	margin-right: 30px;
}
.logout_btn {
	text-decoration: none;
	color: black;
}
.logout_btn:hover {
	color: gray;
}